*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;

}
.find-map__map{
    margin: 8px;
    padding: 5px;
}
li{
    display: inline-block;
    width: 100%;
    font-size: medium;
    position: inherit;
    text-align: end;
   color: #e9ff70;
   margin: 8px;
   border: 8px;
   
}

.header {
background-color: #023047;
display: flex;
}
.header ul{
    display: flex;
}
.main1{
    background-color: #fb8500;
}
.main2{
    background-color: #fb8500;
}
.aside1{
     background-color: #ffb703;
    
     
}
.footer {
    background-color: #023047;
    color: #e9ff70;
    text-align: center;
   
}
a{
    color: #e9ff70;
}
.contenedor-grid{
    display: grid;
    height: 100vh;
  grid-template-rows: 94px auto 110px 87px;
}

  img{
    height: 90px;
  }
  .box5{
    background-color:#e9ff70 ;
    grid-column: span 2;
   
   
       }
       .box6{
    background-color: #ffd670 ;
       }
       .box7{
    background-color: #ff9770 ;
       }
       .box8{
        background-color: #70acff;
       }
@media (min-width: 640px)
 {
   
    .contenedor-grid {
       
        grid-template-columns: 2fr 1fr;
grid-template-areas: "header header" "main1 aside1" "footer footer";
 grid-template-rows: 94px auto 80px;
    }


.header {
  grid-area: header;
    }
    .main2{
        grid-area: main1;
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .main1{
        grid-area: main1;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .aside1{
        grid-area: aside1;
    }
    .footer {
      grid-area: footer;
    }
   .box5{
background-color:#e9ff70 ;
grid-column: span 2;

   }
   .box6{
background-color: #ffd670 ;
   }
   .box7{
background-color: #ff9770 ;
   }
  .box8{
    grid-column: span 2;
  }
}
/* CONTENIDO DENTRO */
.DD{
    color: #023047;
}
.videos{
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 10px #023047;
    display: inline-block;
}
.imagenrest2{
    background-image: url(imagenes/pequena-empresa-familiar-producciones-bebidas-cerveceria-moderna-trabajadores-masculinos-atractivos-jovenes-ocupados-delantales-trabajan-equipos-elaboracion-cerveza-hacen-buena-cerveza-interior-fabric.webp);
    border: 2px white;
    height: 50px;
    background-position: inherit;
    background-repeat: inherit;
    width: 500px;
    height: 476px;
    margin: 7px;
    animation-timing-function: ease-in;
 animation-duration: 5s;   
 animation-iteration-count: infinite;
 animation-name: imagen
 
;
background-position: center;
}
.imagenrest{
    background-image: url(imagenes/250917__-__Antares_Guemes_ph_G_Viramonte-7896.jpg);
    border: 2px white;
    height: 100vh;
    margin: 7px;
    animation-timing-function: ease-in;
 animation-duration: 5s;   
 animation-iteration-count: infinite;
 animation-name: imagen
 
;
background-position: center;
}
@keyframes imagen{
    0%{
        opacity:  0; }

        50%{
            opacity: 50;
            
        }
        100%{
            opacity: 100;
        }
    }
    .imagenrest3{
        background-image: url(imagenes/ff.png);
        border: 2px white;
        height: 400px;
        margin: 2px;
        padding: 2px;
        animation-timing-function: ease-in;
     animation-duration: 5s;   
     animation-iteration-count: infinite;
     animation-name: imagen
     
    ;
    background-position: center;
    }
.contact{
    background-image: url(imagenes/llamada.png);
    border: 2px white;
        height: 100px;
        margin: 2px;
        padding: 2px;
        color: black;
        font-style: oblique;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 600; font-size: 50px;
        background-position: initial;
        background-size: contain;
        animation-timing-function: ease-in;
     animation-duration: 5s;   
     animation-iteration-count: initial;
     animation-name: imagen;
}
.contact2{
    background-image: url(imagenes/contacto1.webp);
    border: 2px white;
        height: 100px;
        margin: 2px;
        padding: 2px;
        color: black;
        font-style: oblique;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 600; font-size: 50px;
        background-position: initial;
        background-size: contain;
        animation-timing-function: ease-in;
     animation-duration: 5s;   
     animation-iteration-count: initial;
     animation-name: imagen;
     
}
    